* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(1,157,189);
  background: radial-gradient(circle, rgba(1,157,189,1) 12%, rgba(21,21,215,1) 18%, rgba(0,209,186,0.3253676470588235) 92%); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
  position: relative;
  width: 80px;
  height: 500px;
  justify-content: center;
  display: flex;
  margin: auto;  
  align-items: center;
}

.titulo{
  position: relative;
  top: 150px;
  color: brown;
  font-style: italic;
  text-align: center;
  padding: 15px;
}

.boton{
  margin: 0px;
  font-weight: bold;
  background-color: skyblue;
  border-radius: 2px;
}

.cuadroTexto{
  height: 75px;
  border-radius: 20px;
  border: 1px solid darkred;
  display: block;
}

.sombreado{
  background: rgb(1,157,189);
  background: linear-gradient(15deg, rgba(1,157,189,1) 19%, rgba(21,21,215,1) 48%, rgba(0,209,186,1) 81%);
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 5px 5px black;
  border-radius: 10px;
}